body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('/FONDO.png') no-repeat center center fixed; /* Añade la ruta de tu imagen */
    background-size: cover; /* La imagen cubre toda la página */
    display: flex;
    justify-content: center; /* Alinea los elementos al inicio (izquierda) */
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    color: #fff; /* Color del texto blanco para mayor contraste */
  }