/* Estilos globales */
body {
  background-color: #212226; /* Color de fondo dark mode */
  color: #CFF250; /* Color del texto */
  font-family: 'Poppins', sans-serif; /* Tipografía moderna */
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Agrega esta línea para habilitar el scroll vertical */
}

h1, h2, h3, h4, h5, h6 {
  color: #CFF250;
  margin: 0;
  padding: 10px 0;
}

button {
  background-color: #E2F263;
  color: #212226;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #F2E96B;
}

input, select {
  padding: 10px;
  margin: 5px 0;
  background-color: #525259;
  color: #CFF250;
  border: 1px solid #CFF250;
  border-radius: 5px;
}

form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #525259;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

/* Estilo para el loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #CFF250;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Iconos */
i {
  margin-right: 8px;
}

/* Estilos adicionales */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #333;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions button {
  margin: 0;
}
